body{
    background-image: url('../iconos/CENTRO-AYURVEDA-2/30.jpg');
    font-family: 'Montserrat', sans-serif !important;
}
.titulo{
    background-image: url('../iconos/CENTRO-AYURVEDA-2/Banner_Ayurveda.jpg');
    background-size: cover;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    width: 50%;
}

.page-item {
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    margin: 5px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.page-item.active {
    background-color: #4CAF50;
    color: white;
}
.items-container {
    padding: 30px 30px 0;
    margin-bottom: 20px;
}
.separador{
    width: 100%;
}

.reverse{
    transform: rotate(180deg);
}

.preguntas{
    background-color: #fff;
    background-size: cover;
    border-radius: 2%;
    width: 100%;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

.invertir-fondo {
    background-image: url('tu-imagen.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px; 
    
    transform: scaleX(-1);
}


.btn-primary {
    background-color: #00C2CB !important;
    border-color: #00A5AB !important;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 600;
}
